<div class="page-header">
  <%= link_to new_scoop_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
     Write new scoop
  <% end %>
  <h1 class="extra">Extra! Extra!  Read all about it!</h1>
</div>
<div class="scoopList">
  <% @scoops.each do |scoop| %>
  <div class="centerScoop <%=scoop.color%>" id="<%= scoop.id%>">
    <%= scoop.headline %> <br>
    <br>
    <%= scoop.story %> <br>
    <ul class="colorBar">
      <div class="colors"><li class="colors" id="greys"><%= button_to "   ", votes_path(color: 'grey', kid_id: current_kid, scoop_id: scoop.id, :method => :create), class: 'button-grey color-button' %></li></div>
      <div class="colors"><li class="colors" id="greens"><%= button_to "   ", votes_path(color: 'green', kid_id: current_kid, scoop_id: scoop.id, :method => :create), class: 'button-green color-button' %></li></div>
      <div class="colors"><li class="colors" id="blues"><%= button_to "   ", votes_path(color: 'blue', kid_id: current_kid, scoop_id: scoop.id, :method => :create), class: 'button-blue color-button' %></li></div>
      <div class="colors"><li class="colors" id="purples"><%= button_to "   ", votes_path(color: 'purple', kid_id: current_kid, scoop_id: scoop.id, :method => :create), class: 'button-purple color-button' %></li></div>
      <div class="colors"><li class="colors" id="golds"><%= button_to "   ", votes_path(color: 'gold', kid_id: current_kid, scoop_id: scoop.id, :method => :create), class: 'button-gold color-button' %></li></div>
    </ul>
     <h3>Shared by <%= scoop.kid[:first_name].capitalize %></h3>
  <br>


  </div>

  <% end %>
</div>
<%= will_paginate @scoops %>
