<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row signIn">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %> <br>
      <%= f.text_field :email %> <br>

      <%= f.label :password %> <br>
      <%= f.password_field :password %> <br>

      <h1 class="signingIn"><%= f.submit "Sign in", class: "btn btn-primary" %></h1> <br>
    <% end %>
  <br>
    <p>New to KidKarma? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
