<%= form_for(@kid, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @kid.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@kid.errors.count, "error") %> prohibited this kid from being saved:</h4>

      <ul>
      <% @kid.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="cluster">
  <div class="form-group">
    <%= f.label :first_name, class: "col-sm-2 control-label", id: "new" %> <br>
    <div class="col-sm-10">
      <%= f.text_field :first_name, class: "form-control" %> <br>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, class: "col-sm-2 control-label", id: "new" %> <br>
    <div class="col-sm-10">
      <%= f.text_field :last_name, class: "form-control" %> <br>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label", id: "new" %> <br>
    <div class="col-sm-10">
      <%= f.text_field :email, class: "form-control" %> <br>
    </div>
  </div>
  <%= f.label :password, class: "col-sm-2 control-label", id: "new" %> <br>
    <div class="col-sm-10">
      <%= f.password_field :password, class: "form-control" %> <br>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, class: "col-sm-2 control-label", id: "new" %> <br>
    <div class="col-sm-10">
      <%= f.password_field :password_confirmation, class: "form-control" %> <br>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
  </div>
<% end %>
